.modal2__confim {
  margin-top: 5rem;
}

.modal1__container {
  width: 500px;
  margin: 1rem auto
}

.modal1__delete,
.modal1__header {
  display: inline-block;
}

.modal1__subContainer {
  display: flex;
  justify-content: space-between;
}